@import "~normalize.css";
@import "~open-color/open-color.scss";

$font-family: "Pretendard Variable", "Apple SD Gothic Neo", "Nanum Barun Gothic",
  "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;

$text-color: $oc-gray-8;
$text-color-gray: $oc-gray-6;

$bg-gray: $oc-gray-0;
$bg-gray-dark: $oc-gray-1;

$divider-color: $oc-gray-4;
$border-color-dark: $oc-gray-8;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
}

body,
a,
div,
span,
small,
time,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  transition: color 0.1s ease;

  &:hover {
    color: $oc-orange-7;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

hr {
  margin: 48px 0;
  border: 0;
  border-top: 1px solid $oc-gray-5;
}
